{% extends 'teachers/base.html' %}
{% load static %}

{% block title %}ELearn{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
    <div id="contentwrapper">
        <div id="content">
            <div id="search">
                {% if classes %}
                    <h2>Courses</h2>
                    {% for class in classes %}
                        <div class="links">
                            <a href="{% url 'teachers:course' class.id %}">{{class.class_name}}</a>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if quizzes %}
                    <h2>Quizzes</h2>
                    {% for quiz in quizzes %}
                        <div class="links">
                            <a href="{% url 'teachers:quiz' quiz.id quiz.course.id %}">{{quiz.title}}</a>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if discussions %}
                    <h2>Discussions</h2>
                    {% for message in discussions %}
                        <div class="links">
                            <a href="{% url 'teachers:post' message.id message.course.id %}">{{message.subject}}</a>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if students %}
                    <h2>Students</h2>
                    {% for student in students %}
                        <div class="links">
                            <a href="{% url 'teachers:studentReport' student.id %}">{{student.username}}</a>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if not classes and not quizzes and not discussions and not students %}
                    <span id="noresult">No Results for {{subject}}</span>
                {% endif %}
            </div>
            
        </div>
    </div>
{% endblock %}