{% extends 'teachers/base.html' %}
{% load static %}

{% block title %}StemTree{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/moduleview.css' %}">
{% endblock %}

{% block content %}
    <a class="backbtn" href="{% url 'teachers:module' module.id courseId%}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 18h3.75a5.25 5.25 0 1 0 0-10.5H5M7.5 4L4 7.5L7.5 11"/></svg></a>
    <a class="backbtn" id="homebtn" href="{% url 'teachers:course' courseId%}"><svg xmlns="http://www.w3.org/2000/svg" width="1024" height="1024" viewBox="0 0 1024 1024"><path fill="currentColor" d="M946.5 505L534.6 93.4a31.93 31.93 0 0 0-45.2 0L77.5 505c-12 12-18.8 28.3-18.8 45.3c0 35.3 28.7 64 64 64h43.4V908c0 17.7 14.3 32 32 32H448V716h112v224h265.9c17.7 0 32-14.3 32-32V614.3h43.4c17 0 33.3-6.7 45.3-18.8c24.9-25 24.9-65.5-.1-90.5z"/></svg></a>
    
    <div id="contentwrapper">
        <div id="content" data-class-studentId= "{{ studentId }}" data-class-moduleId= "{{ module.id }}">
            <div id="wrapper">
                <h2>{{module.title}}</h2>
                <div id="quiz-wrapper-student">
                    <form class="viewForm" method="post">
                        {% csrf_token %}
                        {% for i in count %}
                            {% for section in sections %}
                                {% if section.section.position == i %}
                                    {% if section.images %}
                                        <div class="imageContainer">
                                            {% for image in section.images %}
                                                <img src="{{image.image.url}}" alt="">
                                            {% endfor %}
                                        </div>
                                        
                                    {% endif %}
                                    {% if section.section.text != "" %}
                                    <div class="sectionText">{{ section.section.text }}</div>
                                    {% endif %}
                                    {% if section.section.defaultModule %}
                                        <div class="defaultModuleWrapper">
                                            {% include section.section.defaultModule %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for question in questions %}
                                {% if question.question.position == i %}
                                    {% if question.type == 'short' %}
                                        <div class="questions">
                                            <h3>Question {{ forloop.counter }}</h3>
                                            <p>{{ question.question.question_text }}</p>
                                            <textarea
                                            rows="4"
                                            name="{{question.question.id}}"
                                            id="message"
                                            placeholder="Enter Answer Here!"
                                            class="textarea-input dynamicInput"
                                            ></textarea>
                                        </div>
                                    {% elif question.type == 'multi'%}
                                        <div class="questions">
                                            <h3>Question {{ forloop.counter }}</h3>
                                            <p>{{ question.question.question_text }}</p>
                                            {% if question.question.option1 %}
                                                <label>
                                                    <input type="radio" class="dynamicInput" name="{{question.question.id}}" value="1"> {{ question.question.option1 }}
                                                </label><br>
                                            {% endif %}
                                            {% if question.question.option2 %}
                                                <label>
                                                    <input type="radio" class="dynamicInput" name="{{question.question.id}}" value="2"> {{ question.question.option2 }}
                                                </label><br>
                                            {% endif %}
                                            {% if question.question.option3 %}
                                                <label>
                                                    <input type="radio" class="dynamicInput" name="{{question.question.id}}" value="3"> {{ question.question.option3 }}
                                                </label><br>
                                            {% endif %}
                                            {% if question.question.option4 %}
                                                <label>
                                                    <input type="radio" class="dynamicInput" name="{{question.question.id}}" value="4"> {{ question.question.option4 }}
                                                </label><br>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    <script src="{% static 'teachers/js/studentmodule.js' %}"></script>
{% endblock %}