{% extends 'teachers/base.html' %}
{% load static %}

{% block title %}Elearn{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/analytics.css' %}">
{% endblock %}

{% block content %}
    <a class="backbtn" href="{% url 'teachers:analytics' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 18h3.75a5.25 5.25 0 1 0 0-10.5H5M7.5 4L4 7.5L7.5 11"/></svg></a> 
    <div id="contentwrapper">
        <div id="content" data-class-studentId= "{{ student_id }}">
            <div class="barchart-wrapper">
                <select id="changeTerm" onchange="changeTerm()">
                    <option value="current">Current</option>
                    {% for term in terms %}
                        <option value="{{term}}">{{term}}</option>
                    {% endfor %}
                </select>
                <canvas id="percentile" class="bar-chart"></canvas>
                <canvas id="grade" class="bar-chart"></canvas>
            </div>
        </div>
    </div>
    <script src="{% static 'teachers/js/studentreport.js' %}"></script>
{% endblock %}