.coursediv{
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: #d3d3d3;
    width: 60%;
    border-radius: 10px;
    margin-top: 10px;
  }
  #selector{
    display: flex;
    gap: 10px;

  }
  #selector div{
    color: #3999ff;
    cursor: pointer;
  }
  #selector div:hover{
    color: #0063ce;
  }
  #actionWrapper{
    display: none;
    height: 100vh;
    padding-top: 75px;
    background: #d3d3d3;
  }
  #actionContainer{
    height: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contentwrapper{
    height: 100vh;
    padding-top: 75px;
    background: #d3d3d3;
  }
  #content{
    height: calc(100%);
    display: flex;
    justify-content: center;
  }

  #wrapper{
    width: 80%;
    margin-top: 100px;
  }

  #grade-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
  }

  #quiz-wrapper{
    max-height: 60vh;
    min-width: 200px;
    width: 100%;
    overflow: auto;
    border-radius: 10px;
  }

  #quiz-wrapper img {
    max-width: 100%; /* Ensure images do not exceed the container width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure images do not have extra space below them */
    margin: 0 auto; /* Center the images horizontally */
  }

  #quiz-wrapper-student{
    max-height: 60vh;
    min-width: 200px;
    width: 100%;
    border-radius: 10px;
  }

  #quiz-wrapper-student img {
    max-width: 100%; /* Ensure images do not exceed the container width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure images do not have extra space below them */
    margin: 0 auto; /* Center the images horizontally */
  }

  .buttons-div{
    display: flex;
    gap: 10px;
  }

  .buttons{
    width: 175px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;
    padding: 12px 25px;
    border: none;
    font-weight: 500;
    background-color: #50C878;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    text-align: left;
  }
  .buttons:hover {
    background-color: #409e5f;
  }

  #add-section{
    background-color: #a755a4;
  }
  #add-section:hover {
    background-color: #773b75;
  }



  #correct-answer{
    margin-top: 10px;
  }

  .questions{
    color: white;
    background: #3999ff;
    width: 100%;
    padding: 10px;
  }

  .sectionText{
    background-color: #7f8183;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    color: white;
  }

  .form-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 5px;
  }

  .viewForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .textarea {
    display: flex;
    flex-direction: column-reverse;
  }

  .textarea-input {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #DDE3EC;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    color: #07074D;
    outline: none;
    resize: none;
    margin-top: 5px;
  }
  .textarea-input::placeholder {
    color: #536387;
  }
  .textarea-input:focus {
    border-color: #6A64F1;
  }
  .textarea-label {
    color: #07074D;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
  }
  .textarea-label:focus{
    color: #6A64F1;
  }

  .attachfile {
    margin-top: 30px;
    display: flex;
  }

  .attachfile #prefabContainer{
    margin-left: 25px;
    cursor: pointer;
  }
  .attachfile #prefabContainer:hover{
    color: #007bff;
  }

  .attachfile #templateContainer{
    margin-left: 25px;
    cursor: pointer;
  }
  .attachfile #templateContainer:hover{
    color: #007bff;
  }
  .attachfile input[type="file"] {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: -1;
  }
  .attachfile .file-label {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
  }

  .attachfile .file-label:hover{
    color: #007bff;
  }

  .filename-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 22px;
  }
  .filename {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: #536387;
  }
  .filename svg {
    cursor: pointer;
  }

  .btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 12px 25px;
    border: none;
    font-weight: 500;
    background-color: #50C878;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }
  .btn:hover {
    background-color: #409e5f;
  }

  #cancel{
    background-color: #FF4742;
  }
  #cancel:hover{
    background-color: #be3531;
  }

  #cancel-section{
    background-color: #FF4742;
  }
  #cancel-section:hover{
    background-color: #be3531;
  }

  .attachfile {
    margin-top: 10px;
  }
  .attachfile input[type="file"] {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: -1;
  }
  .attachfile .file-label {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
  }

  .filename-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 22px;
  }
  .filename {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: #536387;
  }
  .filename svg {
    cursor: pointer;
  }

  #prefabWrapper{
    display: none;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    max-height: 500px; /* Start with 0 height */
    overflow: auto;
  }

  #templateWrapper{
    display: none;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    max-height: 500px; /* Start with 0 height */
    overflow: auto;
  }

  .templates{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #536387;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
  }
  .templates:hover{
    opacity: .8;
  }

  #prefabWrapper img{
    width: 100%;
    height: auto;
    max-height: 250px;
    display: block;
  }

  #prefabWrapper img:hover{
    cursor: pointer;
    border: 2px solid #007bff;
  }

  .defaultModuleWrapper {
    /* Add styles for the defaultModuleWrapper */
    /* Ensure it fits inside the form and maintains proper styling */
    max-width: 100%; /* Example: Ensure it doesn't exceed container width */
    margin-bottom: 20px; /* Example: Add spacing below the included content */
    /* Add more styles as needed */
}

  .blue {
    color: #007bff;
    /* Adjust other styles as needed */
  }

  .image{
    border: 2px solid #007bff;
  }

  img{
    display: block;
  }
