#coursediv{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d3d3d3;
    width: 60%;
    height: 60vh;
    border-radius: 10px;
  }

  #contentwrapper{
    height: 100vh;
    padding-top: 75px;
    background: #d3d3d3;
  }
  #content{
    height: calc(100%);
    display: flex;
    justify-content: center;
  }

  #wrapper{
    width: 80%;
    margin-top: 100px;
  }

  #grade-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
  }

  #quiz-wrapper{
    max-height: 60vh;
    min-width: 200px;
    width: 100%;
    overflow: auto;
    border-radius: 10px;
  }

  #add-question{
    width: 175px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;
    padding: 12px 25px;
    border: none;
    font-weight: 500;
    background-color: #50C878;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    text-align: left;
  }
  #add-question:hover {
    background-color: #409e5f;
  }



  #correct-answer{
    margin-top: 10px;
  }

  .questions{
    color: white;
    background: #4e1b79;
    width: 100%;
    padding: 10px;
  }
  .questions:nth-child(2n) {
    background-color: #0C1A25; /* Change the color as needed */
  }

  .form-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 5px;
  }

  .textarea {
    display: flex;
    flex-direction: column-reverse;
  }

  .textarea-input {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #DDE3EC;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    color: #07074D;
    outline: none;
    resize: none;
    margin-top: 5px;
  }
  .textarea-input::placeholder {
    color: #536387;
  }
  .textarea-input:focus {
    border-color: #6A64F1;
  }
  .textarea-label {
    color: #07074D;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
  }
  .textarea-label:focus{
    color: #6A64F1;
  }

  .attachfile {
    margin-top: 30px;
  }
  .attachfile input[type="file"] {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: -1;
  }
  .attachfile .file-label {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
  }

  .filename-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 22px;
  }
  .filename {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: #536387;
  }
  .filename svg {
    cursor: pointer;
  }

  .btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 12px 25px;
    border: none;
    font-weight: 500;
    background-color: #50C878;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }
  .btn:hover {
    background-color: #409e5f;
  }

  #cancel{
    background-color: #FF4742;
  }
  #cancel:hover{
    background-color: #be3531;
  }

  .attachfile {
    margin-top: 10px;
  }
  .attachfile input[type="file"] {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: -1;
  }
  .attachfile .file-label {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
  }

  .filename-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 22px;
  }
  .filename {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: #536387;
  }
  .filename svg {
    cursor: pointer;
  }