<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <h1>Stem Tree</h1>
  <div class="wrapper">
      <h2>Login</h2>
      <form method="POST" action="">
          {% csrf_token %}
        <div class="input-box">
          <input type="text" name="username" id="username" placeholder="Username" value="">
        </div>
        <div class="input-box">
          <input type="password" name="password" id="password" placeholder="Password" value="" >
        </div>
        <div class="input-box button">
          <input type="Submit" value="Login">
        </div>
        <div class="text">
          <h3>Need an account? <a href="{% url 'users:register' %}">Sign up now</a></h3>
          <h3>Forgot Password? <a href="{% url 'reset_password' %}">Reset Password</a></h3>
        </div>
      </form>
  </div>
  <div id="error-message">
    {% if messages %}

            {% for message in messages %}
                {{message}}
            {% endfor %}
    {% endif %}
  </div>
</body>
</html>